h1{
    color: green;
    font-size: 60px;
    font-style: italic;
    background-color: yellowgreen;   
}


.teste{
background-color: grey;
text-align: justify;
border: dotted 10px;    
}

p{
    width: 500px;
    background-color: grey;
}


.p1{
    padding: 25px;

}

.p2{
    padding: 25px;
    border: 10px solid;
    

}

.p3{
    padding: 25px;
    border: 10px solid;
    box-sizing: border-box;
    margin-bottom: 100px;
}


b{
    
    border: solid 100px;
    display: block;
    
}


a{
    text-decoration: none;
    
}
